[Desktop Entry]
Categories=Utility;
Comment[en_US]=Stupidly simple dock for Wayland
Comment=Stupidly simple dock for Wayland
Exec=wayplank
GenericName[en_US]=Dock
GenericName=Dock
Icon=plank
MimeType=
Name[en_US]=Wayplank
Name=Wayplank
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-Autostart-Delay=2
X-KDE-SubstituteUID=false
X-KDE-Username=
