[Desktop Entry]
Name=Wayplank
GenericName=Dock
Comment=Stupidly simple dock for Wayland
Categories=Utility;
Exec=wayplank
Icon=plank
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-Autostart-Delay=2
Actions=Preferences;Restart;

[Desktop Action Preferences]
Name=Preferences
Exec=wayplank --preferences
Icon=preferences-system

[Desktop Action Restart]
Name=Restart Dock
Exec=wayplank --replace
Icon=view-refresh
